.bshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:hover {
    cursor: pointer;
}

.container {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.non-boder-radius {
    border-radius: 0;
!important;
}

h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.aleart-danger {
    color: white;
    text-shadow: 2px 2px 4px orangered;
}