<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="4;/" http-equiv="refresh"/>
    <title>Access Denied</title>
    <th:block th:insert="~{index::common-head}"></th:block>
</head>
<body>
<th:block th:insert="~{index::nav-bar}"></th:block>
<div class="container mt-2">
    <h4 class="aleart-danger" th:text="#{accessdeni.alert}"></h4>
</div>
</body>
</html>