<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="4;/" http-equiv="refresh"/>
    <title>Access Denied</title>
    <th:block th:insert="~{index::common-head}"></th:block>
</head>
<body>
<th:block th:insert="~{index::nav-bar}"></th:block>
<div class="container mt-2">
    <h4 class="aleart-danger">Sorry, you do not have permission to access this page</h4>
    <div id="count-down">
    </div>
</div>
<script>
    var countDown = 3;
    var x = setInterval(function () {
        document.getElementById("count-down").innerHTML = "<div class=\"alert alert-danger bshadow\"><i class='fas fa-exclamation'></i><i class='fas fa-exclamation'></i><i class='fas fa-exclamation'></i> Redirect to Homepage in <strong>" + countDown + "</strong> second.</div>";
        countDown--;
        if (distance < 0) {
            clearInterval(x);
        }
    }, 1000);
</script>
</body>
</html>