<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{order.title}"></title>
    <th:block th:fragment="common-head">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="shortcut icon" th:href="@{img/favicon.png}" type="image/x-icon">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link crossorigin rel="stylesheet" th:href="@{css/master.css}">
    </th:block>
    <script crossorigin th:src="@{js/ui-bootstrap-tpls-2.5.0.js}"></script>
    <script crossorigin th:src="@{js/angular-animate.js}"></script>
    <script crossorigin th:src="@{js/angular-sanitize.js}"></script>
    <script crossorigin th:src="@{js/ng-order.js}"></script>
</head>
<body ng-app="ordersManagerment">
<nav class="navbar navbar-expand-md bg-primary navbar-dark bshadow" th:fragment="nav-bar">
    <a class="navbar-brand" href="/">###<span sec:authentication="name"></span>###</a>
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/orders">
                    <i class='fas fa-store' style='font-size:18px'></i> <span th:text="#{link.order}"></span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/users">
                    <i class='fas fa-user-alt' style='font-size:18px'></i> <span th:text="#{link.user}"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">
                    <i class='fas fa-globe' style='font-size:18px'></i>
                    <span th:text="#{link.language}"></span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/?lang=vi" th:text="#{link.language.vn}"></a>
                    <a class="dropdown-item" href="/?lang=en" th:text="#{link.language.en}"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:18px'></i>
                    <span th:text="#{link.logout}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-2" ng-controller="ordersController">
    <h3 th:text="#{order.header}"></h3>
    <div class="input-group mb-3 bshadow">
        <input class="form-control non-boder-radius" ng-model="seacrhFilter.code"
               th:placeholder="#{placeholder.orderid}" type="text"/>
        <select class="custom-select" ng-model="seacrhFilter.checked">
            <option selected th:text="#{select.all}" value="all"></option>
            <option th:text="#{select.checked}" value="checked"></option>
            <option th:text="#{select.unchecked}" value="unchecked"></option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-info non-boder-radius" ng-click="search()">
                <i class='fas fa-search' style='font-size:18px;color: white'></i>
                <span th:text="#{btn.search.order}"></span>
            </button>
            <button class="btn btn-success non-boder-radius" data-backdrop="static" data-target="#modalOrder"
                    data-toggle="modal" ng-click="clearData()" type="button">
                <i class='fas fa-plus-square' style='font-size:18px;color: white'></i>
                <span th:text="#{btn.create.order}"></span>
            </button>
        </div>
    </div>
    <ul boundary-links="true" class="pagination-sm bshadow" items-per-page="itemsPerPage" max-size="maxSize"
        ng-change="pageChanged()" ng-hide="hidePagination" ng-model="currentPage" num-pages="numPages"
        total-items="totalItems" uib-pagination>
    </ul>
    <div class="table-responsive bshadow">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th th:text="#{thead.order.code}"></th>
                <th th:text="#{thead.order.name}"></th>
                <th style="min-width: 120px" th:text="#{thead.order.note}"></th>
                <th style="min-width: 360px" th:text="#{thead.order.img}"></th>
                <th style="min-width: 172px" th:text="#{thead.order.createdate}"></th>
                <th th:text="#{thead.order.creater}"></th>
                <th sec:authorize="hasRole('ADMIN')" th:text="#{thead.order.checked}"></th>
                <th colspan="2" sec:authorize="hasRole('ADMIN')" th:text="#{thead.order.action}"></th>
                <th sec:authorize="hasRole('USER')" th:text="#{thead.order.action}"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="o in filteredOrders">
                <td ng-class="{'checked-style' : o.checked}"> {{ o.code }}</td>
                <td ng-class="{'checked-style' : o.checked}"> {{ o.name }}</td>
                <td ng-class="{'checked-style' : o.checked}"> {{ o.note }}</td>
                <td ng-class="{'checked-style' : o.checked}">
                    <button class="btn btn-secondary" ng-click="loadListImg(o)" ng-show="{{o.listImg.length > 0}}"
                            onclick="remove(this)">
                        Load Image
                    </button>
                    <span data-backdrop="static" data-target="#modalImg" data-toggle="modal"
                          id="{{ o.id + o.code }}" ng-click="showImg(o.listImg, o.id)">
                    </span>
                </td>
                <td ng-class="{'checked-style' : o.checked}"> {{ o.createDate | date:
                    'yyyy-MM-dd HH:mm:ss' }}
                </td>
                <td ng-class="{'checked-style' : o.checked}"> {{ o.createBy }}</td>
                <td sec:authorize="hasRole('ADMIN')">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="{{o.id}}" ng-click="toggleChecked(o)"
                               ng-model="o.checked" type="checkbox"/>
                        <label class="custom-control-label" for="{{o.id}}"></label>
                    </div>
                </td>
                <td>
                    <a data-backdrop="static" data-target="#modalOrder" data-toggle="modal" ng-click="editOrder(o)">
                        <i class='fas fa-edit' style='font-size:18px;color:blue' th:text=" #{btn.edit}"></i>
                    </a>
                </td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a ng-click="deleteOrder(o) ">
                        <i class='fas fa-trash' style='font-size:18px;color:red' th:text=" #{btn.del}"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="modalOrder">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span ng-show="orderForm.type" th:text='#{modal.header.edit.order}'></span>
                        <span ng-hide="orderForm.type" th:text='#{modal.header.create.order}'></span>
                    </h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <form ng-submit="submitOrder()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="code" th:text="#{form.order.code}"></label>
                            <input autocomplete="off" autofocus class="form-control" id="code"
                                   name="code" ng-model="orderForm.code" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="name" th:text="#{form.order.name}"></label>
                            <input autocomplete="off" class="form-control" id="name" name="name"
                                   ng-model="orderForm.name" required="true" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="note" th:text="#{form.order.note}"></label>
                            <textarea class="form-control" id="note" name="note" ng-model="orderForm.note"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input accept="image/*" class="form-control-file" file-model="orderForm.files"
                                   multiple="multiple" type="file"/>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input class="btn btn-primary" th:value="#{form.submit}" type="submit"/>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            <span th:text="#{form.cancel}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImg">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{modal.header.viewImg}"></h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="carousel slide" data-ride="carousel" id="img-show">
                        <ul class="carousel-indicators" id="carousel-indicators">
                        </ul>
                        <div class="carousel-inner" id="carousel-inner">
                        </div>
                        <a class="carousel-control-prev" data-slide="prev" href="#img-show">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#img-show">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                        <span th:text="#{modal.btn.exit}"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function clearInputFile() {
            let input = document.getElementsByClassName("form-control-file");
            for (let count = 0; count < input.length; count++) {
                input[count].value = "";
            }
        }

        function remove(e) {
            e.parentNode.removeChild(e);
        }
    </script>
</div>
</body>
</html>