<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.title}"></title>
    <th:block th:insert="~{index::common-head}"></th:block>
    <script crossorigin th:src="@{js/ng-user.js}"></script>
</head>
<body>
<th:block th:insert="~{index::nav-bar}"></th:block>
<div class="container mt-2" ng-app="usersManagerment" ng-controller="usersController">
    <h3 th:text="#{user.header}"></h3>
    <div class="input-group mb-3 bshadow">
        <input class="form-control non-boder-radius" ng-model="seacrhTxt.username"
               th:placeholder="#{placeholder.username}" type="text">
        <div class="input-group-append">
            <button class="btn btn-success non-boder-radius" data-backdrop="static" data-target="#modalUser"
                    data-toggle="modal" ng-click="clearData()" type="button">
                <i class='fas fa-plus-square' style='font-size:18px;color: white'></i>
                <span th:text="#{btn.create.user}"></span>
            </button>
        </div>
    </div>

    <div class="table-responsive bshadow">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{thead.user.username}"></th>
                <th th:text="#{thead.user.role}"></th>
                <th style="min-width: 172px" th:text="#{thead.user.createdate}"></th>
                <th style="min-width: 172px" th:text="#{thead.user.lastmodify}"></th>
                <th colspan="2" th:text="#{thead.user.action}"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users | filter:seacrhTxt">
                <td> {{ u.id }}</td>
                <td> {{ u.username }}</td>
                <td> {{ u.role }}</td>
                <td> {{ u.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td> {{ u.lastModifiedDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <a data-backdrop="static" data-target="#modalUser" data-toggle="modal" ng-click="editUser(u)">
                        <i class='fas fa-edit' style='font-size:18px;color:blue' th:text=" #{btn.edit}"></i>
                    </a>
                </td>
                <td>
                    <a ng-click="deleteUser(u) ">
                        <i class='fas fa-trash' style='font-size:18px;color:red' th:text=" #{btn.del}"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="modalUser">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span ng-show="userFrom.type" th:text='#{modal.header.edit.user}'></span>
                        <span ng-hide="userFrom.type" th:text='#{modal.header.create.user}'></span>
                    </h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <form ng-submit="submitUsers()">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usename" th:text="#{form.user.username}"></label>
                            <input autocomplete="off" class="form-control" id="usename" name="usename"
                                   ng-model="userFrom.username" required="true" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="password" th:text="#{form.user.password}"></label>
                            <input autocomplete="off" class="form-control" id="password" name="password"
                                   ng-model="userFrom.password" type="password"/>
                        </div>
                        <div class="form-group">
                            <label for="role" th:text="#{form.user.role}"></label>
                            <select class="custom-select" id="role" name="role" ng-model="userFrom.role">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input class="btn btn-primary" th:value="#{form.submit}" type="submit"/>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">
                            <span th:text="#{form.cancel}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>